.loader-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #00e5ff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
